@import url("header.css");
@import url("main.css");
@import url("sidebar.css");
@import url("footer.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}